/* .container{   
              display: flex;


}


.box{background-color: aqua;   
        width: 150px;
height: 150px;
margin: 20px;


}


.abc {  background-color: brown;    }
.mvi {
        width: 100%;
        padding: 25px;
        background-color: coral;
        color: white;
        font-size: 25px;
      }       

.xyz{     background-color: rgb(242, 255, 0);                     } */







.mystyle {
  width: 100%;
  padding: 25px;
  background-color: coral;
  color: white;
  font-size: 25px;
}