.container{   
              display: flex;


}


.box{background-color: aqua;   
        width: 150px;
height: 150px;
margin: 20px;


}


.abc {  background-color: brown;    }


.xyz{     background-color: rgb(242, 255, 0);                     }